@import "../../../../assets/css/ultilities/variable";

.container {
  width: 95%;
  margin: auto;

  &__slide {
    position: relative;
    &-right-arrow {
      position: absolute;
      top: 25%;
      right: 0;
      cursor: pointer;
      z-index: 10000;
    }
    &-left-arrow {
      position: absolute;
      top: 25%;
      left: 0;
      cursor: pointer;
      z-index: 10000;
    }
    &-item {
      transform: scale(0.8);
      transition: 500ms;
      img {
        width: 78px;
        height: 78px;
        margin: 0 auto;
        padding: 5px;
        border-radius: 50%;
      }
    }
  }

  &__active {
    // transform: scale(1.1);
    // transition: 500ms;
    img {
      border: 2px solid $blue-border;
    }

    .container__item-title {
      font-weight: 600;
      transition: 500ms;
    }
  }

  &__item-title {
    color: $blue-text;
    font-size: 13px;
    margin-top: 10px;
    transition: 500ms;
    text-align: center;
  }

  &__title {
    color: $blue-text;
    font-size: 25px;
    font-weight: 600;
    margin-top: 33px;
  }
  &__sub-title {
    color: $blue-text;
    font-size: 25px;
    font-weight: 600;
    margin-top: 32px;
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 70% !important;
    &-item {
      img {
        width: 107px;
        height: 107px;
      }
    }
    &__item-title {
      font-size: 18px;
    }

    &__title {
      color: $blue-text;
      font-size: 45px;
      margin-top: 62px;
    }
    &__sub-title {
      display: block;
    }
  }
}
